@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global defaults */
html, body, #root { height: 100%; }
body { @apply font-sans text-gray-900 bg-white; } /* makes background white */
